@{
    ViewBag.Title = "Index";
    var maanden = new []{"Januari", "Februari", "Maart","April","Mei","Juni","Juli","Augustus","September","Oktober","November","December"};
    var weekdagen = new []{"Zondag","Maandag","Dinsdag","Woensdag","Donderdag","Vrijdag","Zaterdag"};
    var newsEntries = 5;
    DateTime date = DateTime.Now;
}

<div class="col-sm-10">
    
    <div class="col-sm-12 time medium" style="font-size:150px;">@date.ToString("HH:MM")</div>
    <div class="col-sm-12 date medium">@weekdagen[(int)date.DayOfWeek] @date.Day @maanden[(date.Month - 1)]</div>
    
    <div class="col-sm-12">
        <div class="col-sm-5 temp-now medium" style="font-size:90px">7.7&deg;</div>
        <div class="col-sm-3"><i class="weather-now-icon wi wi-rain xdimmed" id="temp-now-icon"></i></div>
        <div class="col-sm-4"></div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-5"><span class="windspeed-now small" style="vertical-align: middle">2.6km/h</span></div>
        <div class="col-sm-3"><i class="wi wi-wind towards-n dimmed"></i></div>
        <div class="col-sm-4"></div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-2 small"></div>
        <div class="col-sm-2 small">
            <div class="col-sm-1"></div>
            <div class="col-sm-10"><i class="wi wi-rain"></i></div>
            <div class="col-sm-1"></div>
        </div>
        <div class="col-sm-2 small"></div>
        <div class="col-sm-6 small"></div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-2 small"><span class="today-temp-high">8&deg;</span></div>
        <div class="col-sm-2 small"><span class="today-rain-chance dimmed">80%</span></div>
        <div class="col-sm-2 small"><span class="today-temp-low">4&deg;</span></div>
        <div class="col-sm-6 small dimmed"><span class="today-weekday">Vandaag</span></div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-2 small"><span class="tommorow-temp-high">12&deg;</span></div>
        <div class="col-sm-2 small"><span class="tommorow-rain-chance dimmed">10%</span></div>
        <div class="col-sm-2 small"><span class="tommorow-temp-low">3&deg;</span></div>
        <div class="col-sm-6 small dimmed"><span class="tomorrow-weekday">@weekdagen[(int)date.DayOfWeek + 1 % 7]</span></div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-2 small"><span class="dayaftertommorow-temp-high">12&deg;</span></div>
        <div class="col-sm-2 small"><span class="dayaftertommorow-rain-chance dimmed">40%</span></div>
        <div class="col-sm-2 small"><span class="dayaftertommorow-temp-low">4&deg;</span></div>
        <div class="col-sm-6 small dimmed"><span class="dayaftertomorrow-weekday">@weekdagen[(int)date.DayOfWeek + 2 % 7]</span></div>
    </div>
</div>
<div class="rss-feed slides" id="accordion">
    @for (int i = 0; i < newsEntries; i++)
    {
        <div class="col-sm-12 ">
            <div class="slide">
                <div class="col-sm-2 small dimmed"><span class="rss-publication-time">13:37</span></div>
                <div class="small rss-text"><span class="rss-title">Derde wereldoorlog breekt uit! Rusland tegen Turkije</span></div>
            </div>
            <div class="small rss-content"><span class="rss-description">Breaking news</span></div>
        </div>
    }
</div>